*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: url("/img/default.png"), auto;
}

body {
  font-family: "VT323", monospace;
}

.btn {
  font-family: "VT323", monospace;
  font-size: 1.3rem;
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  display: block;
  content: ">";
  top: -35px;
  left: 45%;
  color: #06C1DE;
  font-size: 2.5rem;
  rotate: 90deg;
}

.timer__btn_status {
  width: 100px;
  height: 40px;
}
.timer__btn_main {
  width: 200px;
  height: 70px;
  color: #fff;
  background: #06C1DE;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
  font-size: 2rem;
}
.timer__btn_main:hover {
  background-color: #06B6D1;
}
.timer__btn_main:active {
  top: 5px;
  box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray, 4px 0px 1px 1px lightgray;
}
.timer__button-group {
  display: flex;
  gap: 8px;
}

#playAudio {
  -webkit-appearance: none;
  outline: none;
  cursor: url("/img/click.gif"), default;
  border: none;
  width: 30px;
  height: 30px;
  background: url("/img/play.png") no-repeat center;
  background-size: contain;
}

.audio-player #playAudio.pause {
  background: url("/img/pause.png") no-repeat center;
  background-size: contain;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__image {
  width: 40px;
  height: 40px;
}
.header__name {
  font-size: 2rem;
}
.header__name a,
.header__name a:link,
.header__name a:visited {
  color: #06B6D1;
}
.header__name a:hover,
.header__name a:link:hover,
.header__name a:visited:hover {
  text-decoration: none;
}

.app {
  background: url("/img/bg-4.gif") no-repeat;
  background-size: cover;
  padding: 50px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer__clock {
  display: flex;
  font-size: 7rem;
}