*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: url("../img/default.png"), auto;
}

body {
  font-family: "VT323", monospace;
}

.none {
  display: none;
}

.block {
  display: block;
}

:root {
  --color-primary: #06B6D1 ;
}

.btn {
  font-family: "VT323", monospace;
  font-size: 1.3rem;
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  display: block;
  content: ">";
  top: -35px;
  left: 45%;
  color: var(--color-primary);
  font-size: 2.5rem;
  rotate: 90deg;
}

.timer__btn_status {
  width: 100px;
  height: 40px;
}
.timer__btn_main {
  width: 200px;
  height: 70px;
  color: #fff;
  background: var(--color-primary);
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
  font-size: 2rem;
}
.timer__btn_main:hover {
  background-color: var(--color-primary);
}
.timer__btn_main:active {
  top: 5px;
  box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray, 4px 0px 1px 1px lightgray;
}
.timer__button-group {
  display: flex;
  gap: 8px;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-primary) #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 0px;
  border: 3px inset #ffffff;
}

@media screen and (max-width: 550px) {
  *::-webkit-scrollbar {
    display: none;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__image {
  width: 40px;
  height: 40px;
}
.header__name {
  font-size: 2rem;
}
.header__name a,
.header__name a:link,
.header__name a:visited {
  color: var(--color-primary);
}
.header__name a:hover,
.header__name a:link:hover,
.header__name a:visited:hover {
  text-decoration: none;
}

.app {
  background: url("../img/bg-1.gif") no-repeat;
  background-size: cover;
  padding: 50px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer__clock {
  display: flex;
  font-size: 7rem;
}

.footer {
  display: flex;
  gap: 10px;
}
.footer__btn {
  outline: none;
  cursor: url("../img/click.png"), pointer;
  border: none;
  width: 30px;
  height: 30px;
}
.footer__audio-player #playAudio {
  background: url("../img/play.png") no-repeat center;
  background-size: contain;
}
.footer__audio-player #playAudio.pause {
  background: url("../img/pause.png") no-repeat center;
  background-size: contain;
}
.footer__menu #menu {
  background: url("../img/menu.png") no-repeat center;
  background-size: contain;
}
.footer__popup-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 600px;
  height: 500px;
  overflow-y: scroll;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.footer__tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.footer__tab {
  font-family: "VT323", monospace;
  background-color: var(--color-primary);
  color: #fff;
  border: 0;
  padding: 5px 10px;
  font-size: 1.5rem;
}
.footer__tab:hover {
  filter: brightness(105%);
}
.footer__tab.menu-active {
  filter: contrast(120%);
}
.footer__close {
  position: absolute;
  top: 1%;
  left: 94%;
  background: url("../img/close.png");
  background-size: contain;
}
@media screen and (max-width: 550px) {
  .footer__close {
    left: 90%;
  }
}
.footer__container img {
  cursor: url("../img/click.png"), pointer;
  display: block;
  max-width: 500px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  margin: 30px auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__container img.footer__background-active, .footer__container img.footer__audio-active {
  border: 5px solid var(--color-primary);
}