.footer {
  display: flex;
  gap: 10px;

  &__btn {
    outline: none;
    cursor: url('../img/click.png'), pointer;
    border: none;
    width: 30px;
    height: 30px;
  }
  &__audio-player {
      #playAudio {
        background: url("../img/play.png") no-repeat center;
        background-size: contain;
        &.pause {
          background: url("../img/pause.png") no-repeat center;
          background-size: contain;
        }
      }
    }
  &__menu {
    #menu {
      background: url("../img/menu.png") no-repeat center;
      background-size: contain;
    }
  }

  &__popup-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 600px;
    height: 500px;
    background-color: #fff;
    overflow-y: scroll;
  }
  &__tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  &__tab {
    background-color: $color-primary;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    font-size: 1.5rem;
    &:hover {
      filter: brightness(105%);
    }
    &.footer__active {
      box-shadow: 1px 1px 10px 0px #fff inset;
    }
  }
  &__close {
    position: absolute;
    top: 1%;
    left: 94%;
    background: url("../img/close.png");
    background-size: contain;
  }
  &__container {

    img {
      cursor: url('../img/click.png'), pointer;
      display: block;
      max-width: 500px;
      max-height: 100px;
      width: 100%;
      height: 100%;
      margin: 30px auto;
      object-fit: cover;
      &.footer__active {
        border: 5px solid $color-primary;
      }
    }
  }
}
