.header {
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__image {
    width: 40px;
    height: 40px;
  }

  &__name {
    font-size: 2rem;

    a,
    a:link,
    a:visited {
      color: var(--color-primary);

      &:hover {
        text-decoration: none;
      }
    }
  }
}